@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Arabic:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ms+Madi&display=swap');
@import 'tailwindcss';
* {
  box-sizing: border-box;
  font-family: 'Noto Sans Arabic', sans-serif;
  font-style: normal;
  font-variation-settings: 'wdth' 100;
}
body {
  width: 100%;
  font-size: 100%;
  overflow-x: hidden;
  user-select: none;
}
#fontMadi {
  font-family: 'Ms Madi', cursive;
  font-weight: 600;
  font-style: normal;
}
